.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background: rgb(255, 240, 226);
}

.block__list-film{
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

.conteiner__item-film{
  height: 100px;
  width: 60%;
  background: rgb(255, 250, 245);
  box-shadow: 0 3px 15px black;
  padding-left: 40px;
}
.conteiner__item-film  > div{
  display: flex;
  align-items: center;
  transform: translateY(-30px);
}

.conteiner__item-film span{
  width: 30px !important;
  height: 50px;
  background-color: rgb(255, 125, 125);
  line-height: 50px;
  padding: 20px;
  margin-right: 10px;
}